<%= stylesheet_link_tag "https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" %>
<%= javascript_include_tag 'https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js' %>
<div id="visualization"></div>
<%= javascript_pack_tag 'timeline' %>
