<p id="notice"><%= notice %></p>

<h1>Spots</h1>

<%= link_to 'New Spot', new_spot_path %>
<%= render 'gmap' %>
<%= render 'timeline' %>
</br>
</br>
</br>
</br>
</br>
</br>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/B2IMl1Q3l_U?controls=0&#38;amp;start=214" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
<!-- 引用元 ロングコートダディ【決勝ネタ】1st Round〈ネタ順4〉M-1グランプリ2022 https://www.youtube.com/watch?v=B2IMl1Q3l_U -->
